@charset "utf-8";
*{margin:0;padding:0;}
li{list-style: none;}
a{text-decoration:none;}
/* 样式重置 */
.head,.main,.news,.bottom,.foot{
    margin: 0 auto;
    width: 1001px;
}
/* head */
.head-wrap{background: #232323;}
.head{
    height: 62px;
    background:#232323;
}
/* logo */
.logo{float: left;width: 240px;padding-top: 9px; }
/* nav */
.nav li{float: left; 
    line-height: 62px;
    height: 62px;
    padding: 0px 12px;
    background: url(../img/bk.jpg) no-repeat right;
}
.nav .nav-last{background: 0;}
.nav li:hover{background: #f00;}
.nav li a{color: #fff;}
/* haibao */
.haibao{
    height: 420px;
    background:url(../img/hb.jpg) no-repeat center;
    border-bottom: 1px solid #afa3ad;
}
/* main */
.main-wrap{background: #f5f5f5;}
.main{
    height: 316px;
    padding-top:35px;
    font-family: "微软雅黑";
    width: 1011px;
    
}
.main1{
width: 260px;
height: 288px;
text-align: center;
border-left:1px solid #fff ;
border-right: 1px solid #dde6f0;
float: left;
}
.tp{
    padding-top: 20px;
    height: 103px;
   
}
.main1 .h2{
    font-size: 20px;
    line-height: 28px;

}
.main1 .h5{
    font-size: 12px;
    line-height: 44px;
    font-weight: 100;
    color: #546c7d;
}
.main1 p{
    font-size: 12px;
    line-height: 18px;
    color: #a3bccd;
}
/* news */
.news{
    height: 228px;
    margin: 40px auto;
}
.news-left{float: left;
    width:  297px;
    height: 224px;
    border: 1px solid #ddd;
    padding: 1px;
}
.news-center{float: left;
    width: 320px;
    margin-left: 15px;
    margin-top: 5px;
}
.news-center h3{
    height: 24px;
    font:100 20px/1 "微软雅黑" ;
}
.news-center h4{
    font-size:14px;
    height: 41px;
    line-height: 41px;
    font-weight: 100;
   
}
.news-center h4 a{
    color: #444;
}
.news-center p{
    height: 46px;
    font-size: 12px;
    line-height: 18px;
    text-indent: 2em;
}
.news-center p a{
    color: #999;
}
.news-center ul{
    padding-top: 11px;
    border-top: 1px dashed #ccc;
}
.news-center li{
    background: url(../img/bq.jpg) no-repeat left center;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding-left: 12px;
}
.news-center li{
    color: #444;
}
.news-right{float: right;
    width: 347px;
    height: 220px;
    margin-top: 5px;
    padding-left: 12px;
    border-left: 1px solid #dcdedf;
    
}
.news-right h3{
    height: 24px;
    font:100 20px/1 "微软雅黑" ;
}
.news-right .tp{
    height: 50px;
}
.news-right h4{
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    color: #666;
}
.news-right li{
    font-size: 12px;
    line-height: 24px;
    color: #666;
}
/* bottom */
.bottom-wrap{
    background: #222;
}
.bottom{
    height: 215px;
   
}
.bottom-l{
    width: 492px; ;
    float: left;
    padding-top: 33px;
    padding-left: 10px;
}
.bottom-l ul{
    float: left;
    margin-right: 40px;
    text-align: center;
}
.bottom-l li{
    font-size: 12px;
    line-height: 24px;
    color: #999;
}
.bottom-l li h5{
    font-weight: 100px;
    color: #fff;
    line-height: 48px;
}
.bottom-bg{
    width: 1px; ;
    float: left;

}
.bottom-c{
    width: 275px; ;
    float: left;
    padding-top: 30px;
    padding-left: 39px;
}
.bottom-bg{
    width: 1px; ;
    float: left;
}
.bottom-r{
    padding-top: 30px;
    width: 146px; ;
    float: right;
    margin-right: 14px;
}
.bottom-r dt{
    font-size: 12px;
    line-height: 18px;
    color: #464646;
    text-align: center;
}
/* foot */
.foot-wrap{  background: #101010;}
.foot{
    height: 45px;
  
    color: #999;
    font-size: 12px;
    line-height: 45px;
    text-align: center;
}