@charset "utf-8";
/* CSS Document */
h1{text-align: center; color:#F00}
img{height:150px;width:150px}
#b1{height:200px;width:200px}
p{text-align:center}
a{color:blue}
a:hover{color: red}
a{text-decoration:none;font-weight:bold;}
.l{ float:left}
.zj{float:left;}
.zj a{font-family: 宋体,楷书,微软雅黑;
font-size: 2em;color: #F00;}
.r{ float:right}
