*{margin: 0;padding: 0;}
html,body{height: 100%;}
body{
    transform:perspective(1200px);
}
a{text-decoration: none;}
li{list-style: none;}
.box{
    width: 100%;height: 100%;
    background: url(../img1/bg.jpg) no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{animation: run 20s linear infinite;}
.box div{
    position: absolute;
    width: 270px;height: 360px;
    transform-style:preserve-3d;
}
.box div img{
    width: 100%;
}
.box div:nth-child(1){
    transform:rotateY(36deg) translateZ(600px);
}
.box div:nth-child(2){
    transform:rotateY(72deg) translateZ(600px);
}
.box div:nth-child(3){
    transform:rotateY(108deg) translateZ(600px);
}
.box div:nth-child(4){
    transform:rotateY(144deg) translateZ(600px);
}
.box div:nth-child(5){
    transform:rotateY(180deg) translateZ(600px);
}
.box div:nth-child(6){
    transform:rotateY(216deg) translateZ(600px);
}
.box div:nth-child(7){
    transform:rotateY(252deg) translateZ(600px);
}
.box div:nth-child(8){
    transform:rotateY(288deg) translateZ(600px);
}
.box div:nth-child(9){
    transform:rotateY(324deg) translateZ(600px);
}
.box div:nth-child(10){
    transform:rotateY(360deg) translateZ(600px);
}
@keyframes run {
    0%{transform: rotatey(0deg) rotateZ(10deg);}
    100%{transform: rotateY(360deg)  rotateZ(10deg);} 
}
